[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
autopep8 = "*"

[packages]
requests = "==2.18.4"
flask = "==0.12.2"
flask-cors = "*"

[requires]
python_version = "3.7"
